spring:
  application:
    name: login_rest_api_security_jwt
  datasource:
    url: jdbc:mariadb://35.216.99.76:3306/test
    username: test
    password: test
  jpa:
    hibernate:
      ddl-auto: update
    open-in-view: true
  # Email
  mail:
    host: smtp.gmail.com
    port: 587
    username: gwanilgim632@gmail.com
    password: awlhveeywrshjtwb
    properties:
      mail.smtp.auth: true
      mail.smtp.starttls.enable: true

  data:
    redis:
      host: localhost
      port: 6379
      password: 1234
security:
  jwt:
    secret-key: 3cfa76ef14937c1c0ea519f8fc057a80fcd04a7420f8e8bcd0a7567c272e007b
    expiration-time: 3600000
    refresh-token-expiration-time: 604800000 # RefreshToken의 만료 시간 (7일)
server:
  port: 8005

